jobs:
  build:
    docker:
      - image: anju5590/user_management_system:latest
        auth:
          username: anju5590
          password: $DOCKERHUB_PASSWORD  
    steps:
      - checkout
      - run: first
  test:
    docker:
      - image: anju5590/user_management_system:latest
        auth:
          username: anju5590
          password: $DOCKERHUB_PASSWORD  
    steps:
      - checkout
      - run: second
workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test


